* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
}

.menu {
  padding: 34px;
  padding-left: 85px;
  background-color: #303f9f;
  text-align: center;
  position: relative;
}

.menu li {
  list-style: none;
  display: inline-block;
  margin: 0 120px;
}

.menu li a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 600;
  font-size: 20px;
}

.title {
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  position: absolute;
  top: -1.5vh;
  left: 5vw;
  width: 170px;
  height: 120px;
}

.tableSpacing {
  margin: 60px;
  font-family: "Roboto";
}

.btn {
  background: #f2f2f2;
  border-radius: 10px;
  padding: 5px;
  margin-left: 28px;
  border: 2px solid #f2f2f2;
  cursor: pointer;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 14px;
  padding: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #303f9f;
  color: #fff;

}
.btn:active {
  background: #303f9f;
  border: 2px solid #303f9f;
  color: #fff;
}

.tableSpacing input{
      border-radius: 15px;
      padding: 8px;
      margin-left: 25%;
}

