* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: "Roboto";
}

.menu{
  padding: 34px;
  padding-left: 85px;
  background-color: #303f9f;
  text-align: center;
  position: relative;
}

.menu li{
  list-style: none;
  display: inline-block;
  margin: 0 120px;
}

.menu li a{
  text-decoration: none;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 20px;

}

.title{
  width: 100%;
  height: 100px;
  position: relative;
}

.logo{
  position: absolute;
  top: -1.5vh;
  left: 5vw;
  width: 170px;
  height: 120px;
}

.wrap {
  width: inherit;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey;
  text-align: center;
}

.calendar-container {
  width: 75%;
  color: #6f6f6f;
  padding: 10px;
  margin: auto;
  padding-top: 20px;
}

.calendar-header {
  width: inherit;
  height: 120px;
  background-color: rgb(220, 61, 61);
  margin: auto;
  box-shadow: 0px 0px 3px grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#tablacalendario {
  width: 100%;
  height: 750px;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}

td{
  border: 1px solid #ccc;
  max-width: 20px;
  height: 100px;
  /* padding-top: 7px;
  padding-bottom: 7px; */
}

.calendar-container h1{
  text-align: center;
  color: #fff;
  font-size: 30px;
  padding-top: 10px;
}

.calendar-container h2{
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.calendar-container h3{
  text-align: center;
  color: #fff;
  font-size: 20px;
}

input[type="button"]{
  background: #303f9f;
  border-radius: 1px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 16px;
  max-width: 155px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}

input[type="button"]:hover {
  background: #1976d2;
}

.asistentes{
  width: 100%;
  height: auto;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-spacing: 0;
  margin: 0 auto;
}

.asistentes p{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}